body{
	font-family:Raleway,brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size:14px;
	line-height:1.42857143;
	color:#545454;
	background: #E0EBE8;
	}
.brand-logo {
color:#45b29a;
}
.material-icons-logo{
	color:#45b29a;
	icon:url("images/balaji.svg");
}

